.image-category-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1.1;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
    background-color: var(--background);
  }
  
  .top-category-item {
    height: 90%; /* Ensure the height is set */
 
    
  }
    .bottom-category-item {
      margin-top: 5px;
    height: 10%;
  }
  
  .top-category-item img {
    width: 100%;
    height: 100%; /* Ensure the image respects the height of its parent */
    object-fit: cover; /* Ensures the image covers the div without stretching */
    object-position: center;
  }
  

  .bottom-category-item p {
    font-size: 15px;
    font-weight: 550;
    padding: 0 0px 10px 10px;
  }
  
  @media (max-width: 768px) {
.image-category-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1.5;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;

    background-color: var(--background);
  }

  
    .bottom-category-item p {
      font-size: 12px;
      font-weight: 500;
    }
      .top-category-item {
    height: 80%; /* Ensure the height is set */
 
    
  }
    .bottom-category-item {
    height: 20%;
    margin-top: 5px;
  }
  }
  