.cover-image-category {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.image-category {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
}

.image-category::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.image-category > a {
  scroll-snap-align: start;
}

/* Responsive */
@media (max-width: 768px) {
  .cover-image-category > h1 {
    font-size: 24px;
    padding-top: 20px;
  }
}
