.cover-image-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.cover-image-category > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  font-weight: 500;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 30px;
}

.image-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  
}
@media (max-width: 900px) {
.cover-image-category > h1 {
  padding-top: 30px;
  padding-bottom: 20px;
   font-size: 25px;
}
}

@media (max-width: 768px) {
.cover-image-category > h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
}