.image-category-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    height: 200px; /* Fixed height */
    max-height: 200px;
    overflow: hidden;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
    gap: 20px;
  }
  
  .top-category-item {
    flex: 8; /* 80% of the 170px */
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 80%; /* Ensure the height is set */
    border-radius: 10px;
  }
  
  .top-category-item img {
    width: 100%;
    height: 100%; /* Ensure the image respects the height of its parent */
    object-fit: cover; /* Ensures the image covers the div without stretching */
    object-position: center;
  }
  
  .bottom-category-item {
    height: 20%;
    flex: 2; /* 20% of the 170px */
  }
  
  .bottom-category-item p {
    font-size: 14px;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .image-category-item {
      width: 80vw; /* Adjust the box width based on viewport */
      max-width: none; /* Remove max-width restriction */
      height: auto; /* Allow height to adjust */
      max-height: none; /* Remove max-height restriction */
    }
  
    .top-category-item {
      height: auto; /* Let the top div take up a dynamic height based on the image */
      flex: none;
    }
  
    .top-category-item img {
      width: 100%; /* Maintain full width */
      height: auto; /* Allow height to adjust proportionally */
      object-fit: contain; /* Adjust image without cropping */
    }
  
    .bottom-category-item p {
      font-size: 12px;
      font-weight: 500;
    }
  }
  