* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --background: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.main-content {
  margin-top: 60px; /* Match the header height */
  padding: 20px; /* Optional: Add some padding for aesthetics */
}

@media (max-width: 480px) {
  #wrapper {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
