* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #aaa #222;
}
:root {
  --background: #ffffff;
  --background-alternative: #f7f7f7;
  --green: #1b4d3e;
  --lighterGreen: #00ab55;
  --lightOrange: #fd8071;
  --brand-green: #16a34a;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
}

html {
  scrollbar-gutter: stable;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: clip;
  overflow-y: auto;
}

body {
  background: var(--background-alternative);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.main-content {
  margin-top: 60px; /* Match the header height */
  padding: 20px; /* Optional: Add some padding for aesthetics */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 80px; /* Adjust as needed */
}


.All-home-categories h1 {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 900px) {
  #wrapper {
    max-width: 900px;

    padding-left: 1rem;
    padding-right: 1rem;
  }
  .All-home-categories h1 {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  #wrapper {
    max-width: 480px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}
