.Top-deals {
  margin-bottom: 50px;

}

.Top-deals h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 30px;
}

.Top-deal-cover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


/* Responsive Styles */
.skeleton {
  background: #e5e7eb;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 245, 0) 0%,
    rgba(245, 245, 245, 0.5) 50%,
    rgba(245, 245, 245, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}




@media (max-width: 900px) {
.Top-deals h3 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
}
.Top-deals {
  margin-top: 0px;
  margin-bottom: 50px;

}
}
@media (max-width: 768px) {
 .Top-deals h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
  .Top-deal-cover {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }
}
