.coverCard {
  display: flex;
  width: 100%;
  max-width: 250px;
  height: 100%; /* Fixed height */
  max-height: 300px;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  gap: 20px;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.Top-deals-up {
  position: relative;
  flex: 7; /* 80% of the 170px */
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: 70%; /* Ensure the height is set */
  border-radius: 10px 10px 0 0;
}

.img-attach {
  width: 100%;
  height: 100%; /* Ensure the image respects the height of its parent */
}
.img-attach img {
  height: 300px;
  width: 250px;
  object-fit: cover; /* Ensures the image covers the div without stretching */
  object-position: center;
}
.Top-deals-up > p {
  background-color: #ea1179;
  display: flex;
  justify-content: center;
  width: 40px;
  padding: 2px;
  color: white;
  font-weight: 500;
  font-size: 10px;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  border-radius: 0px 5px 5px 5px;
}


.Top-deal-main:hover {
  transform: scale(1.025);
}

.Top-deals-bottom {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  height: 30%;
  flex: 3;
}

.Top-deals-bottom h4 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #fcf2f1;
  color: #fd8071;
  border: 0.5px solid grey;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}

.top-deal-price {
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.top-deal-name {
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-wrap: wrap;
  white-space: wrap;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .coverCard {
    width: 40vw; /* Adjust the box width based on viewport */
    max-width: none; /* Remove max-width restriction */
    height: 100%; /* Fixed height */
    max-height: 300px;
  }
  .img-attach {
    width: 100%;
    height: 100%; /* Ensure the image respects the height of its parent */
  }
  .img-attach img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div without stretching */
    object-position: center;
  }
  .Top-deals-up {
    flex: 7; /* 80% of the 170px */
    height: 70%;
  }

  .Top-deals-bottom {
    height: 30%;
    flex: 3;
  }
  .Top-deals-bottom h4 {
    display: none;
  }
  .top-deal-name {
    font-size: 14px;
    color: #000;
 
  }
}

@media (max-width: 480px) {
  .coverCard {
    gap: 0;
    width: 40vw; /* Adjust the box width based on viewport */
    max-width: none; /* Remove max-width restriction */
    height: 100%; /* Fixed height */
    min-height: 300px;
  }
  .Top-deals-bottom {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
  }
  .Top-deals-bottom h4 {
    display: none;
  }
  .top-deal-name {
    font-size: 14px;
    color: #000;
  }
  .top-deal-price {
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
  }

  .Btn {
    font-size: 13px;
    padding:10px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

@media (max-width: 310px) {
  .Top-deals-up {
    flex: 6; /* 80% of the 170px */
    height: 60%;
  }

  .Top-deals-bottom {
    height: 40%;
    flex: 4;
  }
  .icon {
    display: none;
  }
}
