@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.best-sellers{
  background-color: #fff;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  width: 100%;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 230px;
  margin-bottom: 16px;
}

.product-image {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}





.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
font-family: "Inter", sans-serif;
  margin-bottom: 50px;
}


.product-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-width: 0; 
  padding-left: 10px;
}


.top-deal-name {
  font-size: 16px;
  font-weight: 400;
  color:#0C0407;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  }


.rating {
  font-size: 14px;
  color: #ff9800;
}

.price-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.price {
  font-size: 14px;
  color:#0C0407;
}

.old-price {
  font-size: 14px;
  color: #808080;
  text-decoration: line-through;
}



.skeleton {
  background: #e5e7eb;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(245,245,245,0) 0%, rgba(245,245,245,0.5) 50%, rgba(245,245,245,0) 100%);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% { transform: translateX(0); }
  100% { transform: translateX(150%); }
}




@media (max-width: 600px) {
  .top-deal-name {
  font-size: 16px;

}
}
/* Responsive */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    row-gap: 20px;
  }
  .price-wrapper {
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
  .image-wrapper {
    height: 150px;
  }
}
