.coverCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 250px;
  height: 300px; /* Fixed height */
  max-height: 350px;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
}

.Top-deals-up {
  flex: 0 0 60%; /* Occupies 60% of the parent's height */
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.Top-deals-up > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block; /* Ensures the image behaves as a block-level element */
}
.Top-deals-bottom {
  flex: 0 0 40%; /* Occupies the remaining 40% of the parent's height */
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

  .Top-deals-up > p {
    background-color: #000;
    display: flex;
    justify-content: center;
    width: 40px;
    padding: 2px;
    color: white;
    font-weight: 500;
    font-size: 10px;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 5px;
  }
  
  .Top-deals-up p > span {
    color: red;
  }
 
  .Top-deals h3 {
    padding: 0;
    font-weight: 500;
  }

  .coverCard:hover {
    transform: scale(1.025);
  }
  
 
  
  .Top-deals-bottom h4 {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
  }
  
  .Top-deals-bottom > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Top-deals-bottom div > button {
    display: flex;
    align-items: center; 
    gap:5px;
    background-color: #fcf2f1;
    color: #fd8071;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
  .top-deal-price {
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
  }
  
  .top-deal-name {
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-wrap: wrap;
    white-space: wrap;
    color: grey;
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

  }
  
/* For devices with a maximum width of 768px */
@media (max-width: 768px) {
  .coverCard {
    max-width: 100%;
    height: auto; /* Allow height to adjust based on content */
  }

  .Top-deals-up {
    flex: 0 0 auto; /* Allow content to define height */
    height: 30vw; /* Example: Set height based on viewport width */
  }

  .Top-deals-bottom {
    flex: 1; /* Take remaining space */
    padding: 8px;
  }
}

/* For devices with a maximum width of 480px */
@media (max-width: 480px) {
  .coverCard {
    max-width: 100%;
    height: auto;
  }

  .Top-deals-up {
    flex: 0 0 auto;
    height: 30vw; /* Adjust as needed */
  }

  .Top-deals-bottom {
    flex: 1;
    padding: 5px;
  }
}