.related-wrapper {
  margin-top: 4rem;
}

.related-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Grid */
.related-grid { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px)); 
  gap: 1.5rem; 
  justify-content: start; /* or center */ }



/* Card */
.related-card {
  background: #fff;
}

/* Image */
.image-wrapper {
  position: relative;
  background: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
}

.product-image {
  max-width: 200px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* SALE badge */
.sale-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e53935;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 3px;
  z-index: 1;
}

/* Content */
.card-content {
  padding-top: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-name {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  display: block;
  max-width: 200px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.price {
  font-weight: 600;
  font-size: 1rem;

}

.old-price {
  font-size: 0.85rem;
  color: #999;
  text-decoration: line-through;
}

/* Cart button */
.cart-btn {
  width: 36px;
  height: 36px;
  border: none;
  background: #111;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn:hover {
  background: #333;
}

@media (max-width: 480px) {
  .related-grid {
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    grid-template-columns: unset;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
    -webkit-overflow-scrolling: touch;
  }

 
  
  .related-grid {
  scrollbar-width: none; /* Firefox */
}

.related-grid::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

}
