.cart {
    display: none;
    margin-top: 50px;
    padding-top: 20px;
  }
  .cart h1 {
    margin-bottom: 50px;
  }
  
  
  .top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
  }
  
  .P-name {
    font-weight: bold;
    font-size: 15px;
  }
  .P-details {
    display: flex;
    align-items: center;
  }
  .P-price{
    font-size: 13px;
      color: grey; 
  
  }
  .stock{
    font-size: 12px;
    color: #3E7B27;
  }
  .P-details p {
    font-size: 14px;
    color: grey;
  }
  .center{
      width: 10%; 
      color: grey;  
      font-size: 15px;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
  
  }
  .del-btn{
  
  padding: 10px;
  
  }
  .del-btn:hover{
    cursor: pointer;
  
  }
  .btns button {
    background-color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
  }
  .btns button:hover {
    background-color: #f2f2f2;
  }
  
  .btns span {
    padding: 10px;
    font-size: 14px;
  }
  
  .P-about{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
  
  
  
  
  /* General row layout for both headings & products */
  .cart-row {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }
    
    /* Ensures headings match the product row layout */
    .cart-headings {
      font-weight: bold;
      background-color: #f8f8f8;
      border-bottom: 1px solid #ddd;
      text-align: center;
    }
    
 
    
    .Page-nav-cat{
      display: flex;
      align-items: center;
      background-color: #f2f7f6;
      padding: 20px;
      margin-bottom: 20px;
      font-size: 14px;
    }
    ._CatName{
      display: flex;
    }
  
  
    @media (max-width: 768px) {
        .cart {
            display: flex;
            flex-direction: column;
    }
}