.pattern-page {
    margin-top: 100px;
  }
  ._CatName {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
  }
  .Main-product-content {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    gap: 50px;
    width: 100%;
  }
  .main-product-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 50%;
  }
  .Page-nav-cat {
    display: flex;
    font-size: 14px;
    gap: 10px;
    margin-top: 50px;
    background-color: #f2f7f6;
    padding: 20px;
  }
  
  .Pprice {
    font-size: 23px;
    font-weight: 550;
  }
  .Pprice-cover {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
  }
  .PColor {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 2px;
    
  }
  .PColor :nth-child(1) {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
  }
  .PColor :nth-child(2) {
    font-weight: bold;
  }
  .Psize {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 2px;
    
  }
  .Psize :nth-child(1) {
    color: #747474;
    font-size: 14px;
    font-weight: bold;
  }
  .Psize :nth-child(2) {
    font-weight: bold;
  }
  .sizes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  }
  
  .sizes div{
      border: 1.5px solid #ebebeb;
      padding: 5px 20px 5px 20px;
      border-radius: 5px;
  }
  .sizes div:hover{
  background-color: #f2f2f2;
  }
  
  
  .Buttons{
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
  }
  .Discount {
    color: #747474;
  }
  .cover-product-details-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #eef2f7;
    border-radius: 5px;
    cursor: pointer;
  }
  .cover-product-details-icon:hover {
  background-color: #e4eefb;
  }
  .main-product-content-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
  }
  .images{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  
  }
  .images-two{
    display: flex;
    gap: 20px;
  }
  .overal-cover-product-details-icon {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .Pname {
    font-weight: 550;
    font-size: 30px;
  }
  
  .product-image-container {
    width: 100%;
    max-width: 100%;  /* Ensures it does not exceed the container */
    min-width: 500px; /* Initially keeps the image at 500px width */
  }
  
  .product-image {
    width: 100%;  /* Makes it responsive */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover;
  }
  .product-image-others{
    width: 100%;  /* Makes it responsive */
    object-fit: cover;
  }
  .main-product-content-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin-top: 15px;
  }
  .main-product-content-details :nth-child(1) {
    font-weight: bold;
  }
  .main-product-content-details :nth-child(2) {
    font-size: 14px;
    line-height: 20px;
    color: grey;
    text-align: left;
  }
  
  .Delivery-info{
    margin-top: 20px;
  }
  .info-link{
    color: #747474;
    font-size: 14px;
  }
  .Accepted-pay p{
    font-weight: bold;
    margin-top: 20px;
  }
  .payment-lists{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
  }
  .return{
    border: 2px solid #ebebeb;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
  }
  .icon-return{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 20px;
  }
  .caution{
    color: #747474;
    font-size: 13px;
  
  }
  .icon-return p{
  font-weight: bold;
  
  }
  .caution-list{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    color: #747474;
    font-size: 13px;
    hanging-punctuation: 5px;
    gap: 10px;
    
  }
  
  .caution-list li::marker {
    color: red;
  }
  .caution span {
    font-weight: bold;
    color: #000;
  }
  



  @media (max-width: 960px) {
    .Main-product-content {
      flex-direction: column;
      align-items: center;
    }
    .main-product-content-left {
      width: 100%;
    }

    .images{
  
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    
    }
    .main-product-content-right {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
    }

  }
  @media (max-width: 768px) { .product-image-container {
    min-width: auto; /* Allows shrinking */
  }
 
  }
  @media (max-width: 480px) {
    .main-product-content-left {
      gap: 10px;
    }
    .Pname {
      font-weight: 550;
      font-size: 23px;
    }
  }
