.tabs-container {
  width: 100%;
  margin-top: 20px;
}

.tabs {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #eaeaea;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}
.details-tab > p {
  font-size: 14px;
  line-height: 20px;
  color: grey;
  text-align: left;
  margin-top: 20px;
}
.tab {
  padding: 12px 0;
  text-decoration: none;
  color: #777;
  font-size: 16px;
  position: relative;
}

.tab span {
  color: #aaa;
  font-size: 14px;
}

.tab:hover {
  color: #000;
}

.active {
  color: #000;
  font-weight: 600;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.content {
  padding: 20px 0;
}

.comment {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.comment strong {
  display: block;
  font-size: 14px;
}

.comment p {
  margin: 4px 0;
}

.comment small {
  color: #888;
  font-size: 12px;
}
