.Products-Panelcat {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.Products-Panelcat::-webkit-scrollbar {
  width: 0;
}
.productcatp {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    max-width: 200px;
    min-width: 200px;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    scroll-snap-align: start;
    overflow: hidden;
  }
  
  .productcatp:hover .ProductImagecatp {
    transform: scale(1.025);
  }
  
  .Link-catp {
    text-decoration: none;
  }
  
  .image-open > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 200ms transform ease-in-out;
    position: relative;
  }
  
  .image-open.image-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ProductImagecatp {
    max-width: 100%;
    height: 185px;
    overflow: hidden;
    position: relative;
  }
  
  .Instockcatp {
    background-color: rgb(62, 228, 62);
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-radius: 10px;
    padding: 2px 5px;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .ProductTextcatp {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
  }
  
  .ProductNamecatp {
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    color: #313133;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .MainPricecatp {
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 0 10px;
    padding: 0;
    color: #000;
  }
  
  .product-top-container {
    width: 100%;
  }
  
  .product-top-container p {
    font-size: 16px;
    line-height: 30px;
    padding: 0 20px;
    text-align: justify;
  }
  
  .explore-all {
    margin-left: 20px;
  }
  
  .product-top-container-img {
    position: relative;
  }
  
  .product-top-container-img div {
    background-color: #ea1179;
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
  }
  
  .product-top-container-img-style {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .del-style {
    font-size: 12px;
    color: grey;
    margin-left: 10px;
    
  }
  @media (max-width: 768px) {
    .productcatp {
      max-width: 200px;
      min-width: 200px;
      margin-left: 10px;
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  
    .product-top-container-img div {
      background-color: #ea1179;
      color: white;
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      bottom: 10px;
      margin-left: 10px;
      margin-right: 0px;
      margin-bottom: 10px;
      padding: 5px 10px 5px 10px;
    }
  
    .product-top-container-img-style {
      height: 250px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    .product-top-container p {
      background-color: #EEF5FF;
      font-size: 13px;
      line-height: 20px;
      padding: 5px 20px;
    }
  
    .explore-all {
      margin-left: 20px;
      font-size: 20px;
      font-weight: bold;
    }
    @media (max-width: 768px) {
      .Products-Panelcat::-webkit-scrollbar {
        width: thin;
      }
    }
  }
  