.header-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.electronics-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Filter row */
.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filter-text {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.items-count {
  font-size: 14px;
  color: #777;
}

/* Grid */
.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Card */
.product-card {
  display: flex;
  flex-direction: column;
  color: #000;
  text-decoration: none;
}

.image-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  max-width: 100%;
  width: 100%;
  height: 200px;
  max-height: 200px;
  object-fit: contain;
  object-position: center;
}

/* Text */
.product-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.product-category {
  font-size: 14px;
  color: #777;
  margin: 4px 0;
}

.product-price {
  font-size: 14px;
  font-weight: 600;
}

.subcategories-wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.subcategories-wrapper::-webkit-scrollbar {
  display: none;
}

.subcategory-card {
  min-width: 60px;
  max-width: 130px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.subcategory-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-color: #f5f5f5;
  margin-bottom: 8px;
}

.subcategory-card span {
  font-size: 12px;
  font-weight: 500;
}

.active span {
  text-decoration: underline;
  font-weight: 600;
}

/* Electronics title */
.page-title {
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

/* Categories container */
.categories-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}
.sort-dropdown {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  background-color: #fff;
  z-index: 999;
}
.sort-option {
  cursor: pointer;
  padding: 10px;
}
.sort-option:hover {
  background-color: #f2f7f6;
  color: #777;
}
.sort-wrapper {
  position: relative;
}
.sort-radio {
  margin-right: 10px;
}
.sort-button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid grey;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.sort-button:hover {
  color: #00ab55;
}
.sort-arrow {
  transition: transform 0.2s ease;
}

.open {
  transform: rotate(180deg);
}

.subcategories-container {
  max-width: 600px;
  width: 100%;
  overflow: hidden;
}
/* Individual category card */
.category-card {
  flex: 0 0 auto;
  width: 120px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.category-card:hover {
  transform: translateY(-4px);
}
.categories-row::-webkit-scrollbar {
  display: none;
}
.categories-row {
  scrollbar-width: none;
}
.category-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* Category label */
.category-name {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}
.shop-category {
  display: none;
}

@media (max-width: 768px) {
  .header-row {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .products-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    row-gap: 20px;
  }
  .page-title {
  font-size: 20px;
  font-weight: 600;
}
  .shop-category{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00ab55;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  font-weight: 500;
    color: #fff;

}
.category-card {
  width: 90px;
}
.category-image {
  height: 110px;
  border-radius: 4px;
}
}
